/* http://meyerweb.com/eric/tools/css/reset/ v2.0 | 20110126 License: none (public domain)*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*POLICE*/

/*
@font-face {
    font-family: 'AnticDidone-Regular';
    src: url(../police/AnticDidone/AnticDidone-Regular.eot);
    src: url(../police/AnticDidone/AnticDidone-Regular.eot?#iefix) format('embedded-opentype'),
         url(../police/AnticDidone/AnticDidone-Regular.svg#AnticDidone-Regular) format('svg'),
         url(../police/AnticDidone/AnticDidone-Regular.ttf) format('truetype'),
         url(../police/AnticDidone/AnticDidone-Regular.woff) format('woff'),
         url(../police/AnticDidone/AnticDidone-Regular.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AvenirLTStd-Book';
    src: url(../Avenir/police/LTStd-Book.eot);
    src: url(../Avenir/police/AvenirLTStd-Book.eot?#iefix) format('embedded-opentype'),
         url(../Avenir/police/AvenirLTStd-Book.svg#AvenirLTStd-Book) format('svg'),
         url(../Avenir/police/AvenirLTStd-Book.ttf) format('truetype'),
         url(../Avenir/police/AvenirLTStd-Book.woff) format('woff'),
         url(../Avenir/police/AvenirLTStd-Book.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}

h1, h2, h3, h4, h5{
    font-family: 'AnticDidone-Regular', serif;
}

p, blockquote{
    font-family: AvenirLTStd-Book, sans-serif;
}

*/

/*START CSS*/

header {
    display: grid;
    grid-template-areas:    " logo h2 . . nosClients . offre . studio . contact . "
                            " logo h2 . . . . . . . . . . "
                            " logo . . . . . . . . . . . "
                            " logo . . . . . . . . . . . "
                            " . . . . . . . . . . . . "                            
                            " . . . . . since since . . . . . "                                                       
                            " . . .  . h1 h1 h1 h1 . . . . "   
                            " . . .  . h1 h1 h1 h1 . . . . " 
                            " . . . . . . . . . . . . "                        
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . ";


grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: #fff;
height: 90vh;
    width: 100%;
}

header > h2 {
    grid-area: h2;
}
.h2{
    font-size: 3em;
    color: #000;
    margin-top: 0.5em;
}

header > #logo {
    grid-area: logo;
    margin-top: 1em;
    margin-left: 1em;
}

#logo {
    height: 200%;
}

header > #nosClients{
    grid-area: nosClients;
}
#nosClients{
    margin-top: 1em;
}

header > #offre{
    grid-area: offre;
}
#offre{
    margin-top: 1em;
}
header > #studio{
    grid-area: studio;
}
#studio{
    margin-top: 1em;
}

header > #contact{
    grid-area: contact;
}
#contact{
    margin-top: 1em;
}
header > #since{
    grid-area: since;
}
#since{
    font-size: 2em;
    justify-content: flex-end;
    text-align: center;
    margin-top: 25%;
    text-transform: uppercase;
   
    
}

header > #h1{
    grid-area: h1;
}
#h1{
    font-size: 3em;
    text-align: center;
    z-index: 2;
}

h1::before {
    content: "<";
}

/*
h1::after{
    content: "/>";
}
*/

/*
strong{
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-color: #FFD31E;

}*/
.seeMore::after{
    content: url(/assets/picture/underline.png);
    position: absolute;
    resize: both;
    top: 88%;
    left:38%;
    
    object-fit:cover;
}

h1::after{
    content: url(/assets/picture/underline1.png);
    position: absolute;
    resize: both;
    top: 59.5%;
    left:50.5%;
    object-fit:cover;
    resize: 350px;
}

.seeMore:hover{
    font-style: italic;
}

#carouselExampleControlsNoTouching{
    transform: translate(-20%, 0px);
}
.slider{
    background-image: url(/assets/picture/Artboard_2.jpg);
    
    background-position-x: right 70% bottom 100%;
}
/*banniere CSS*/

.portfolio {
    display: grid;
    grid-template-areas:    " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . " 
                            " . . . . . . . . . . . . " 
                            " . . . . . banH2 banH2 banH2 . . . . "
                            " . . . . . . . . . . . . "
                            " . . marque marque marque marque marque marque marque marque marque . "                            
                            " . . . . . . . . . . . . " 
                            " . . . . . . . . . . . . "                        
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . ";

                            
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: rgb(0, 0, 0);
color: #fff;
height: 80vh;
    width: 100%;
}

.portfolio{
    background-color: #000;
    height: 100vh;
    width: 100%;
    color: #fff;
}

.portfolio >.banH2{
    grid-area: banH2;
}

.portfolio >.marque{
    grid-area: marque;
}



/*slider CSS*/
/* .slider {
    display: grid;
    grid-template-areas:    " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . " 
                            " . . . . . . . . . . . . " 
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . "
                            " . marque marque marque marque marque marque marque marque marque marque . "                            
                            " . . . . . . . . . . . . " 
                            " . . . . . . . . . . . . "                        
                            " . . . . . . . . . . . . "
                            " . . . . . . . . . . . . ";                            
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
background-color: #fff;
height: 80vh;
    width: 100%;
} */

.carousel-control-next-icon, .carousel-control-prev-icon {
    background: none;
}

.message {
   
    background-color: white;
    position: absolute;
    color:black;
    top: 45%;
    left:70%;
    width: 20%;
    height: 30%;
    text-align: center;
    vertical-align: middle;    
}
img{
    transform: translate(20%,0);
}
.marque{
    transform: translate(0%,0);
}
.textDuMessage {
    margin-top: 10%;
}


/*text Infinite Loop CSS*/
#loopInfiniteText{
    left:0px;
    height: 150px;
    background: #FFCD1A;
    color: #fff;
    position: absolute;
    width:100%;
    overflow: hidden;
  }
  /*remove p*/
.textContents {
    width:100%;
    padding-top: 30px;
    margin:0 auto;
    font-size: 60px;
    white-space: nowrap;
    /*
    font-family: 'Museo';
    font-weight: 300;
    */
  }  
.animStyle {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left1 20s linear infinite;
    animation: scrolling-left1 20s linear infinite;
  }  
.animStyle2 {
    display:inline-block;
    /* Apply animation to this element */
    -webkit-animation: scrolling-left2 20s linear infinite;
    animation: scrolling-left2 20s linear infinite;
    animation-delay: 10s;
  }
/* scrolling-left is continuous/repeatly text */
  @keyframes scrolling-left1 {
      0% {transform: translateX(100%);
          -webkit-transform: translateX(100%);}
        100% {transform: translateX(-100%);
            -webkit-transform: translateX(-100%);}
  }
  @keyframes scrolling-left2 {
      0% {transform: translateX(0%);
          -webkit-transform: translateX(0%);}
        100% {transform: translateX(-200%);
            -webkit-transform: translateX(-200%);}
  }
  /*
  @-webkit-keyframes scrolling-left1 {
      0% {-webkit-transform: translateX(100%);}
        100% {-webkit-transform: translateX(-100%);}
  }
  @-webkit-keyframes scrolling-left2 {
      0% {-webkit-transform: translateX(0%);}
        100% {-webkit-transform: translateX(-200%);}
  }
*/
/********************************************************RESPONSIVE *************************************************************/

@media only screen and (max-width: 768px){
    *{
        width: 100%;
    }
    header{
        display: grid;
        grid-template-areas: 
        " . "
        " h2 "
        " . "        
        " since "
        " studio "
        " contact "
        " offre"
        " . "
        " nosClients "
        " . "
        " h1 "
        " . ";
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        height: 80vh;
        width: 100%;
        align-items: center;
        justify-items: center;
        background-image: url(/assets/picture/logo.png);
        background-repeat: no-repeat;
        background-position: 75%;
        background-size: 80px auto;

    }
    #logo{
        display: none;
    }
    h2,h1 ,#studio, #contact, #offre, #nosClients{
        text-align: center;
    }
    #h1{
        font-size: 1.8rem;
    }
    h1::after{
        display: none;
    }
    .message{
        left: 30%;
        top: 10%;
        width: 40%;
        height: 60%;;
        background-color: #fff;
    }

    .seeMore::after{
        display: none;
    }

}




/********************************************************FORM *************************************************************/
/*
@import "https://fonts.googleapis.com/css?family=Raleway";
* { box-sizing: border-box; }
body { 
  margin: 0; 
  padding: 0; 
  background: #333;
  font-family: Raleway; 
  text-transform: uppercase; 
  font-size: 11px; 
}
h1{ margin: 0; }
#contact { 
  -webkit-user-select: none;       
  -moz-user-select: none; 
  -ms-user-select: none; 
  margin: 4em auto;
  width: 100px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }

#contactForm { 
  display: none;

  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }

.formBtn { 
  width: 140px;
  display: inline-block;
  
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}


*/





/*DEBUG CSS*/
/*
* {
    background: rgba(0, 0, 0, .1);
}
*/